// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

// Reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 400;
    text-decoration: none;
}

ul {
	list-style: none;
}

html {
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
	line-height: normal;
	color: white;
}


.main-bc {
	max-width: 375px;
	background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
	border-radius: 0px 0px 12px 12px;
}

.after-services {
	max-width: 375px;
	.after {
		margin: 0 auto;
		max-width: 335px;
		height: 10px;
		background: #CACADB;
		border-radius: 0 0 12px 12px;
	}
	.after--small {
		max-width: 295px;
		background: #E7E7F2;
	}
}

.symbol {
	max-width: 375px;
	background: url(../imgs/symbol.png) no-repeat center;
}

.arrow-link {
	display: flex;
	align-items: center;
	gap: 2px;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #24A3FF;
	.arrow-link__img {
		display: block;
	}
}
