// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

// Reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    text-decoration: none;
}

ul {
	list-style: none;
}

button {
	outline: 0;
	border: 0;
}

html {
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
	line-height: normal;
	color: white;
}


.main-bc {
	background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
	border-radius: 0px 0px 12px 12px;
}

.symbol {
	background: url(../imgs/symbol.png) no-repeat center;
	background-size: auto 100%;
}

.after-services {
	.after {
		margin: 0 auto;
		width: 98%;
		height: 10px;
		background: #CACADB;
		border-radius: 0 0 12px 12px;
	}
	.after--small {
		max-width: 96%;
		background: #E7E7F2;
	}
}

.arrow-link {
	display: flex;
	align-items: center;
	gap: 2px;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #24A3FF;
	&:hover {
		color: #F0145A;
		transition: all .3s;
	}
	&:hover .arrow-link__img path {
		stroke: #F0145A;
		transition: all .3s;
	}
}

.services-entry-margin {
	margin-top: 60px;
}

// media 375px
@media screen and (min-width: 375px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

// media 768px
@media screen and (min-width: 768px) {
	.header {
		padding: 50px 60px 0;
	}
}

// media 1024px
@media screen and (min-width: 1024px) {
	.header {
		position: relative;
	}
}
.wrapper-hlegal {
	max-width: 1920px;
}

// media 1920px
@media screen and (min-width: 1920px) {
	.header {
		padding: 50px 160px;
	}
}