@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.main-bc {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.symbol {
  background: url(../imgs/symbol.png) no-repeat center;
  background-size: auto 100%;
}

.after-services .after {
  margin: 0 auto;
  width: 98%;
  height: 10px;
  background: #CACADB;
  border-radius: 0 0 12px 12px;
}
.after-services .after--small {
  max-width: 96%;
  background: #E7E7F2;
}

.arrow-link {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #24A3FF;
}
.arrow-link .arrow-link__img {
  display: block;
}

@media screen and (min-width: 375px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 50px 60px 0;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    position: relative;
  }
}
.wrapper-hlegal {
  max-width: 1024px;
}

@media screen and (min-width: 375px) {
  .header-contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
  }
  .header-contacts .language-selection {
    display: flex;
    align-items: center;
  }
  .header-contacts .language-selection .language-selection__list .language-selection__link {
    display: block;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    font-size: 0.75rem;
    padding: 5px 7px;
  }
  .header-contacts .language-selection .language-selection__list:nth-last-child(1) {
    border-radius: 8px;
    background-color: #F0145A;
  }
  .header-contacts .contacts-wrapp .point {
    display: none;
  }
  .header-contacts .contacts-wrapp .address-link {
    display: none;
  }
  .header-contacts .contacts-wrapp .phone-number {
    font-weight: 700;
    color: white;
  }
  .header-contacts .contacts-wrapp .facebook-link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    justify-content: flex-start;
    background: none;
    padding: 0;
  }
  .header-contacts .contacts-wrapp {
    display: flex;
    align-items: center;
    gap: 0 6px;
    padding-left: 6px;
  }
  .header-contacts .contacts-wrapp .point {
    display: block;
  }
  .header-contacts .contacts-wrapp .address-link {
    display: block;
    color: #B3B3BA;
  }
  .header-contacts .contacts-wrapp .facebook-link {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .header-contacts {
    justify-content: flex-end;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 375px) {
  .header-logo {
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 0 10px 15px;
  }
  .header-logo .header-logo__img {
    display: block;
    width: 70px;
  }
  .header-logo .header-logo__img--mod {
    padding-top: 7px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding: 30px 0;
  }
  .header-logo .header-logo__img {
    width: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .header-logo {
    position: absolute;
  }
}
@media screen and (min-width: 375px) {
  .header-menu {
    display: none;
  }
  .header-menu .menu .menu__list .menu__link {
    display: block;
    font-weight: 700;
    color: #FFF;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    width: 100%;
    display: flex;
  }
  .header-menu .menu {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .header-menu {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 375px) {
  .menu-btn {
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 15px 10px 0;
  }
  .menu-btn .menu-btn__img {
    display: block;
  }
  .menu-btn:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  .main-title .primary-title {
    max-width: 315px;
    margin: 0 auto;
    padding: 129px 0 159px;
    font-size: 2.375rem;
    font-weight: 700;
    text-align: center;
  }
  .main-title .btn {
    padding-bottom: 30px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .main-title .btn .scroll {
    opacity: 1;
    display: block;
  }
  .main-title .btn .scroll-hover {
    opacity: 1;
    display: none;
  }
  .main-title .btn:hover .scroll-hover {
    display: block;
  }
  .main-title .btn:hover .scroll {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-title .primary-title {
    max-width: 100%;
    padding: 269px 0 417px;
  }
}
@media screen and (min-width: 1024px) {
  .main-title .primary-title {
    padding: 245px 0 289px;
  }
}
@media screen and (min-width: 375px) {
  .oriented {
    padding: 30px;
  }
  .oriented .oriented__nav {
    display: flex;
    gap: 0 30px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 30px;
    overflow-x: auto;
  }
  .oriented .oriented__nav .oriented__list .oriented__link {
    font-size: 1.875rem;
    font-weight: 700;
    color: #B3B3BA;
    white-space: nowrap;
  }
  .oriented .oriented__nav .oriented__list .oriented__link:hover {
    background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .oriented .oriented__nav::-webkit-scrollbar {
    display: none;
  }
  .oriented .oriented__container .oriented__title {
    padding: 30px 0;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .oriented .oriented__container .oriented__text {
    font-size: 1.1875rem;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .oriented {
    padding: 60px;
  }
  .oriented .oriented__nav {
    padding-bottom: 60px;
  }
  .oriented .oriented__nav .oriented__list .oriented__link {
    font-size: 2.375rem;
  }
  .oriented .oriented__container .oriented__title {
    padding: 60px 0 30px;
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1024px) {
  .oriented {
    display: flex;
    padding: 60px;
  }
  .oriented .oriented__nav {
    width: 49%;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px 0;
    padding-bottom: 0;
    border-bottom: 0;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
  .oriented .oriented__container {
    width: 51%;
    padding-left: 60px;
  }
  .oriented .oriented__container .oriented__title {
    padding: 0 0 30px;
  }
}
@media screen and (min-width: 375px) {
  .services {
    padding: 0 30px;
  }
  .services .services-wrapp .title {
    padding-top: 10px;
    font-size: 1.875rem;
    font-weight: 700;
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .services .services-container {
    display: block;
  }
  .services .services-container .services-container__block {
    padding-top: 30px;
  }
  .services .services-container .services-container__block .services-container__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    border-radius: 24px;
    background-color: white;
  }
  .services .services-container .services-container__block .services-container__title {
    padding-top: 30px;
    font-size: 1.375rem;
    font-weight: 700;
    color: #24A3FF;
  }
  .services .services-container .services-container__block .services-container__text {
    padding-top: 15px;
    line-height: 26px;
  }
}
@media screen and (min-width: 768px) {
  .services {
    padding: 0 60px 60px;
  }
  .services .services-wrapp .title {
    font-size: 2.375rem;
  }
  .services .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 60px;
  }
  .services .services-container .services-container__block {
    padding-top: 60px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .services .services-container .services-container__block {
    width: calc((100% - 120px) / 3);
  }
}
@media screen and (min-width: 375px) {
  .team {
    padding: 0 30px;
  }
  .team .team__tabs .team__img-container {
    padding-top: 30px;
  }
  .team .team__tabs .team__img-container .team__picture {
    width: 100%;
    height: 500px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .team .team__tabs .team__text-container {
    padding: 30px 30px 0;
    background-color: #F5F5FA;
    border-radius: 0 0 12px 12px;
  }
  .team .team__tabs .team__text-container .team__primary-text {
    padding-top: 5px;
    font-size: 1.875rem;
    font-weight: 700;
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .team .team__tabs .team__text-container .team__primary-text--spec {
    display: block;
    padding-top: 30px;
    font-weight: 700;
    color: #B3B3BA;
  }
  .team .team__tabs .team__text-container .team__primary-text--mod {
    display: block;
    padding: 6px 0 30px;
    font-size: 0.875rem;
    line-height: 22px;
    color: #B3B3BA;
  }
  .team .team__links-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 0 15px;
  }
  .team .team__links-container .team__link .team__links-point {
    display: block;
  }
  .team .team__links-container .team__link .team__links-point--mod {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding: 60px;
  }
  .team .team__tabs .team__text-container .team__primary-text {
    font-size: 2.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .team .team__tabs {
    display: flex;
  }
  .team .team__tabs .team__img-container {
    width: 45%;
    padding-top: 0;
  }
  .team .team__tabs .team__img-container .team__picture {
    border-radius: 12px 0 0 12px;
    height: 100%;
  }
  .team .team__tabs .team__text-container {
    border-radius: 0 12px 12px 0;
    width: 55%;
    padding: 30px;
  }
  .team .team__tabs .team__text-container .team__primary-text--mod {
    padding: 6px 0 0;
  }
}
@media screen and (min-width: 375px) {
  .clients .clients__title {
    padding: 60px 0 30px;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-align: center;
    color: #323264;
  }
  .clients .clients__wprapp .clients__item {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clients .clients__wprapp .clients__item--blue {
    background: #1C4280;
  }
  .clients .clients__wprapp .clients__item--dark {
    background: #143646;
  }
  .clients .clients__wprapp .clients__item--gradient-orange {
    background: #F48B30;
  }
  .clients .clients__wprapp .clients__item--purpur {
    background: #9E4DC3;
  }
  .clients .clients__wprapp .clients__item--orange {
    background: #FD9339;
  }
  .clients .clients__wprapp .clients__item--gray {
    background: #E2E2E4;
  }
  .clients .clients__wprapp .clients__item--red {
    display: none;
    background: #C71C36;
  }
  .clients .clients__wprapp .clients__item--white {
    display: none;
    background: #DCF3F9;
  }
  .clients .clients__wprapp .clients__item--bisquit {
    display: none;
    background: #EAEAEA;
  }
  .clients .clients__wprapp .clients__item--dark-purpur {
    display: none;
    background: #282240;
  }
  .clients .clients__wprapp .clients__item--dark-blue {
    display: none;
    background: #1D4568;
  }
  .clients .clients__wprapp .clients__item--black {
    display: none;
    background: #000;
  }
}
@media screen and (min-width: 768px) {
  .clients .clients__wprapp {
    display: flex;
    flex-wrap: wrap;
  }
  .clients .clients__wprapp .clients__item {
    width: 33.3333333333%;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .clients .clients__title {
    padding: 0 0 30px;
  }
  .clients .clients__wprapp .clients__item {
    width: 25%;
  }
}
@media screen and (min-width: 375px) {
  .publications {
    padding: 30px;
    background: #F5F5FA;
  }
  .publications .publication__container .publication__title {
    padding-top: 5px;
    font-weight: 700;
    font-size: 1.875rem;
    background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .publications .publication__container .publication__item {
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background: #fff;
  }
  .publications .publication__container .publication__item .publication__img-wrapp .publication__img {
    border-radius: 8px 8px 0 0;
    display: block;
    width: 100%;
  }
  .publications .publication__container .publication__item .publication__sub-title {
    padding: 30px 30px 15px;
    font-weight: 700;
    color: #24A3FF;
  }
  .publications .publication__container .publication__item .publication__date {
    width: calc(100% - 60px);
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #B3B3BA;
    border-bottom: 4px solid #E6E6F0;
  }
  .publications .publication__container .publication__item .publication__text {
    display: block;
    padding: 15px 30px 0;
    font-size: 0.875rem;
    line-height: 22px;
    color: black;
  }
}
@media screen and (min-width: 768px) {
  .publications {
    padding: 30px 60px;
  }
  .publications .publication__container .publication__title {
    padding-top: 10px;
    font-size: 2.375rem;
  }
  .publications .publication__container--flex {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
  }
  .publications .publication__container--flex .publication__item {
    width: calc((100% - 30px) / 2);
    margin-top: 0;
  }
  .publications .publication__container--flex .publication__item .publication__img-wrapp .publication__img {
    height: 200px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .publications .publication__container--flex .publication__item:nth-last-child(1) {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .publications {
    padding: 30px 60px;
  }
  .publications .publication__container--flex .publication__item {
    width: calc((100% - 60px) / 3);
  }
  .publications .publication__container--flex .publication__item:nth-last-child(1) {
    width: calc((100% - 60px) / 3);
    margin-top: 0;
  }
}
@media screen and (min-width: 375px) {
  .footer {
    background: #F5F5FA;
    padding: 30px;
  }
  .footer .footer-adress .address-link {
    display: block;
    color: #323264;
    text-align: center;
  }
  .footer .footer-adress .point {
    display: none;
  }
  .footer .footer-adress .footer-adress__map {
    display: block;
    padding: 10px 0 21px;
    text-align: center;
    color: #24A3FF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
  }
  .footer .footer-contacts .facebook-link {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .footer .footer-contacts .facebook-link img {
    display: block;
  }
  .footer .footer-contacts .point {
    display: none;
  }
  .footer .footer-contacts .phone-number {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    color: #46466E;
  }
  .footer .footer-contacts .footer-email {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #24A3FF;
  }
  .footer .footer-item {
    padding-top: 30px;
  }
  .footer .footer-item .footer-item__text {
    display: block;
    text-align: center;
    color: #B3B3BA;
  }
  .footer::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 30px;
    border-top: 2px solid #E6E6F0;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 60px;
  }
  .footer .footer-adress {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  .footer .footer-adress .point {
    display: block;
    width: 6px;
  }
  .footer .footer-adress .footer-adress__map {
    padding: 0;
  }
  .footer .footer-contacts {
    display: flex;
    align-items: center;
    order: 1;
    gap: 0 10px;
    padding-top: 21px;
  }
  .footer .footer-contacts .facebook-link img {
    display: block;
    width: 38px;
  }
  .footer .footer-contacts .point {
    display: block;
    width: 6px;
  }
  .footer .footer-contacts .phone-number {
    padding: 0;
  }
  .footer .footer-item {
    padding-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 60px 30px;
  }
}/*# sourceMappingURL=style.css.map */