@media screen and (min-width: 375px) {
    .header-contacts {
        max-width: 375px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background: rgba(245, 245, 250, 0.20);
        .language-selection {
            display: flex;
            gap: 0 7px;
            .language-selection__list {
                padding: 5px 7px;

                .language-selection__link {
                    letter-spacing: 1px;
                    font-weight: 700;
                    color: white;
                }
                &:nth-last-child(1) {
                    border-radius: 8px;
                    background-color: #F0145A;
                }
            }
        }
        .contacts-wrapp {
            .point {
                display: none;
            }
            .address-link {
                display: none;
            }
            .phone-number {
                font-weight: 700;
                font-size: 1rem;
                color: white;
            }
            .facebook-link {
                display: none;
            }
        }
    }    
}
