// media 375px
@media screen and (min-width: 375px) {
    .header-logo {
        width: fit-content;
        padding: 15px 0 10px 15px;
        .header-logo__img {
            display: block;
            width: 70px;
        }
        .header-logo__img--mod {
            padding-top: 7px;
        }
    }
}

// media 768px
@media screen and (min-width: 768px) {
    .header-logo {
        padding: 30px 0;
        .header-logo__img {
            width: 130px;
        }
    }
}

// media 1024px
@media screen and (min-width: 1024px) {
    .header-logo {
        position: absolute;
    }
}